@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background : linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/Image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  background: #433D8B;
}

::-webkit-scrollbar-thumb{
  background: #8279eb;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  background: #272261;
  
}